<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

 <footer class="bg-dark text-light text-center py-3 mt-auto">
  <div class="container">
    <p class="mb-1">&copy; <%= new Date().getFullYear() %> Nita shop. All rights reserved.</p>
    
  </div>
</footer>
   
</body>
</html>
